body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  
  #videoElement {
    width: 100%;
    object-fit: contain;
  }

  #outputCanvas{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  #background_picture{
    width: 100%;
    object-fit: fill;
  }
  
  .left_bar {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  
  .main_canvas {
      width: 85%;
      height: 100%;
  }
  
  .picture_upload {
    width: 100%;
    object-fit: fill
  }

  .pictures {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
}

.pictures img {
    width: 100%; 
    height: auto;
}


.button_add_image{
  background-color: azure;
  text-align: center;
  width: 100%;
  height: 10%;
  border: 10px;
  border-radius: 10px;
  padding: 5%;
}


@media (pointer: coarse) {
  body {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    margin: 0;
  }
  .left_bar {
    width: 100%;
  }
  .main_canvas {
    width: 100%;
  }
}
